@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap");

body {
  padding-top: 40px;
  font-family: "Castoro", serif;
}

.type-selection {
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 50px;
  text-align: center;
}

label {
  display: block;
}

input {
  margin-bottom: 20px;
}

.btn {
  display: block;
  margin: 10px 0;
}

.btn-get-news {
  margin-bottom: 50px;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news {
  width: 33%;
  padding: 1%;
  margin-bottom: 1%;
}

.news-img {
  width: 100%;
  margin: 10px 0;
}
